@{
    var selected = ViewData["selected"] as string;
}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@(selected=="popUp"?"active":null)">
                <a href="/Admin/popUp">
                    <i class="fa fa-random"></i>
                    <span>PopUp</span>
                </a>
            </li>
            <li class="@(selected == "Index" ? "active" : null)">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="@(selected == "zarinpal" ? "active" : null)">
                <a href="/admin/zarinpal">
                    <i class="fa fa-dashboard"></i>
                    <span>زرین پال</span>
                </a>
            </li>
            <li class="@(selected == "faq" ? "active" : null)">
                <a href="/admin/Faq">
                    <i class="fa fa-question"></i>
                    <span>سوالات متداول</span>
                </a>
            </li>
            <li class="@(selected == "newsLetter" ? "active" : null)">
                <a href="/admin/newsLetters">
                    <i class="fa fa fa-bullhorn"></i>
                    <span>خبرنامه</span>
                </a>
            </li>
            <li class="@(selected == "rules" ? "active" : null)">
                <a href="/Admin/rules">
                    <i class="fa fa-rouble"></i>
                    <span>قوانین</span>
                </a>
            </li>
            <li class="@(selected == "aboutUs" ? "active" : null)">
                <a href="/Admin/aboutUs">
                    <i class="fa fa-random"></i>
                    <span>درباره ما</span>
                </a>
            </li>
            <li class="@(selected == "ContactUs" ? "active" : null)">
                <a href="/Admin/Contactus">
                    <i class="fa fa-envelope"></i>
                    <span>لیست تماس باما</span>
                </a>
            </li>
            <li class="@(selected == "SiteSettings" ? "active" : null)">
                <a href="/Admin/SiteSettings">
                    <i class="ion ion-ios-gear-outline"></i>
                    <span>تنظیمات سایت</span>
                </a>
            </li>
            <li class="@(selected == "discountCodes" ? "active" : null)">
                <a href="/Admin/DiscountCodes">
                    <i class="fa fa-percent"></i>
                    <span>کد های تخفیف</span>
                </a>
            </li>
            <li class="treeview @(selected.Contains("User") ? "active menu-open" : "")">
                <a href="javascript:void(0)">
                    <i class="fa fa-user-o"></i> <span>کاربران</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(selected == "Users" ? "active" : null)"><a href="/Admin/Users">لیست کاربران</a></li>
                    <li class="@(selected == "UserRoles" ? "active" : null)"><a href="/Admin/Users/Roles">نقش ها</a></li>
                </ul>
            </li>
            <li class="treeview @(selected.Contains("Article") ? "active menu-open" : "")">
                <a href="javascript:void(0)">
                    <i class="fa fa-newspaper-o"></i> <span>مقالات</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(selected == "Articles" ? "active" : null)"><a href="/Admin/Articles">لیست مقالات</a></li>
                    <li class="@(selected == "ArticleComments" ? "active" : null)"><a href="/Admin/Articles/Comments">نظرات کاربران</a></li>
                    <li class="@(selected == "ArticleGroups" ? "active" : null)"><a href="/Admin/Articles/Group">دسته بندی</a></li>
                </ul>
            </li>
            <li class="@(selected == "tickets" ? "active" : null)">
                <a href="/Admin/Tickets">
                    <i class="fa fa-send-o"></i>
                    <span>تیکت ها</span>
                </a>
            </li>
            <li class="@(selected == "amazings" ? "active" : null)">
                <a href="/Admin/Products/Amazings">
                    <i class="fa fa-amazon"></i>
                    <span>شگفت انگیزها</span>
                </a>
            </li>
            <li class="treeview @(selected.Contains("Product") ? "active menu-open" : "")">
                <a href="javascript:void(0)">
                    <i class="fa fa-product-hunt"></i> <span>محصولات</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(selected == "Products" ? "active" : null)"><a href="/admin/Products">لیست محصولات</a></li>
                    <li class="@(selected == "ProductComments" ? "active" : null)"><a href="/admin/Products/comments">نظرات کاربران</a></li>
                    <li class="@(selected == "ProductGroups" ? "active" : null)"><a href="/admin/Products/Groups">دسته بندی محصولات</a></li>
                </ul>
            </li>
            <li class="@(selected == "productOrders" ? "active" : null)">
                <a href="/Admin/Orders/Products">
                    <i class="fa fa-shopping-basket"></i>
                    <span>مدیریت سفارشات</span>
                </a>
            </li>
              <li class="@(selected == "shipping_costs" ? "active" : null)">
                <a href="/Admin/shippingCosts">
                    <i class="fa fa-info"></i>
                    <span>هزینه ارسال سفارشات</span>
                </a>
            </li>
            <li class="@(selected == "createOrders" ? "active" : null)">
                <a href="/Admin/Orders/CreateOrder">
                    <i class="fa fa-shopping-cart"></i>
                    <span>صدور پیش فاکتور</span>
                </a>
            </li>
            <li class="@(selected == "Sliders" ? "active" : null)">
                <a href="/Admin/Sliders">
                    <i class="fa fa-slideshare"></i>
                    <span>مدیریت اسلایدر ها</span>
                </a>
            </li>
            <li class="@(selected == "Banners" ? "active" : null)">
                <a href="/Admin/Banners">
                    <i class="fa fa-slideshare"></i>
                    <span>مدیریت بنر ها</span>
                </a>
            </li>
        </ul>
    </section>
</aside>