@page
@using Common.Application.DateUtil
@using DomainLayer.Models.Tickets
@model Eshop.Areas.Admin.Pages.Tickets.IndexModel
@{
    ViewData["title"] = "مدیریت تیکت ها";
    ViewData["selected"] = "tickets";
}
<section class="content-header">
    <h1>
        @ViewData["title"]
        <small>
            <strong>تعداد تیکت ها : <span class="text-green" style="font-size:15px">@Model.Tickets.EntityCount</span></strong>
        </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> پنل ادمین </a></li>
        <li><a href="/Admin/Tickets"><i class="fa fa-send-o"></i> تیکت ها </a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content container-fluid bg-white" id="container">
    <div class="box box-border custom-shadow">
        <form method="get" id="filter">
            <input type="hidden" name="pageId" id="pageId" value="@Model.Tickets.CurrentPage" />

            <div class="box-header with-border">
                <h3 class="box-title">فیلتر</h3>
                <div class="box-tools pull-right">
                    <a href="/Admin/Tickets" class="btn btn-sm btn-danger btn-flat m-0">
                        حذف
                        <i class="fa fa-close">
                        </i>
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm btn-flat">
                        فیلتر
                        <i class="fa fa-search">
                        </i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="">
                <div class="table-filter">
                    <div class="row">
                        <div class="col-md-6">
                            <label>شناسه تیکت :</label>
                            <input placeholder="شناسه تیکت" type="number" name="ticketId" asp-for="Tickets.Id" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label> وضعیت تیکت :</label>
                            <select name="searchType" class="form-control" asp-for="Tickets.Status">
                                <option value="@TicketStatus.Close">بسته</option>
                                <option value="@TicketStatus.Waiting_For_Reply">در انتظار پاسخ</option>
                                <option value="@TicketStatus.Replied">پاسخ داده شده</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <div class="box box-warning">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <td>#</td>
                        <th>عنوان</th>
                        <th>وضعیت</th>
                        <th>تاریخ ثبت</th>
                        <th>تعداد گفتوگو</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tickets.EntityCount >= 1)
                    {
                        foreach (var item in Model.Tickets.Tickets)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td><a href="/Admin/Tickets/show/@item.Id">@item.TicketTitle</a></td>
                                <td>
                                    @switch (item.Status)
                                    {
                                        case TicketStatus.Replied:
                                            <span class="label label-success">پاسخ داده شده</span>
                                            break;
                                        case TicketStatus.Waiting_For_Reply:
                                            <span class="label label-info">در انتظار پاسخ</span>
                                            break;
                                        case TicketStatus.Close:
                                            <span class="label label-danger">بسته شده</span>
                                            break;
                                    }
                                </td>
                                <td>@item.CreationDate.ToPersianDate()</td>
                                <td>@item.TicketMessages.Count()</td>
                                <td><a href="/Admin/Tickets/show/@item.Id" class="btn btn-sm btn-primary">ورود</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">موردی برا نمایش وجود ندارد !</td></tr>
                    }
                </tbody>
            </table>
            <partial name="Shared/_Paginat" model="Model.Tickets"/>
        </div>

    </div>

</section>
